<p class="nice-font">I am a first year student studying computer science at the University of Victoria (graduation 2025). I like coding bots, apis and arduinos. </p>
<br><br>

<a class="resumeButton" href="https://github.com/Quantum158/resume/blob/master/BM_2021_Resume.pdf">Resume</a>

<br><br><br>

<h2>Get in Touch</h2>

<a href="https://github.com/Quantum158"><i class="fa fa-github"></i> Github: Quantum158</a>
<br><br>
<a href="mailto:me@b-macdonald.ca"><i class="fa fa-envelope"></i> Mail: me@b-macdonald.ca</a>
<br><br>
<a href="https://www.linkedin.com/in/benj-macdonald"><i class="fa fa-linkedin"></i> LinkedIn: benj-macdonald</a>
