<div class="linkbox">
    <div class="tooltip"><a href="https://github.com/Quantum158" class="hoverable__main"><i class="fa fa-github" ></i> Github</a>
        <span class="tooltiptext">Quantum158</span>
    </div>
    <br>
    <div class="tooltip"><a href="https://www.linkedin.com/in/benj-macdonald"><i class="fa fa-linkedin"></i> Linkedin</a>
        <span class="tooltiptext">benj-macdonald</span>
    </div>
    <br>
    <div class="tooltip"><a href="mailto:me@b-macdonald.ca"><i class="fa fa-envelope"></i> Email</a>
        <span class="tooltiptext">me@b-macdonald.ca</span>
    </div>
</div>