#contactContent {
    box-sizing: border-box;
}

#contactContent a {
    text-decoration: none;
    font-size: large;
    color: #070019
}

.cardContent {
    display: flex;
    height: max-content;
    flex-grow: 1;
    margin: 10px;
    flex-flow: column;
}

.linkbox {
    width: max-content;
}