footer {
    width: auto;
    margin: auto;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding: 0.5%;
    bottom: 0;
    position: relative;
    display: flex;

    display: none !important;
}