html,
body {
    background: rgb(6, 0, 20);
    font-family: "Roboto", "sans-serif";
    overflow-x: hidden;
}

body {
    position: relative;
}

.invisible {
    visibility: hidden;
}

.title-gradient {
    background: radial-gradient(circle, #727d94 0%, #090026 50%);
    transition: background 0.3s;
}

.section-gradient {
    background: radial-gradient(circle, #26408b 5%, #0d0221 60%);
    transition: background 0.3s;
}

@media only screen and (max-width: 1024px) {
    .title-gradient {
        background: radial-gradient(circle, #727d94 0%, #07001A 80%);
    }
    
    .section-gradient {
        background: radial-gradient(circle, #26408b 5%, #0d0221 80%);
    }
}

.buttonBackground {
    background: #183372;
    color: #A9B7D3;
    transition: 0.1s;
}

.buttonBackground:hover {
    background: #22397D;
}

.buttonBackground:active {
    transition: 0.1s;
    background: #2C4AA3;
}

.generalButton {
    background: #11234d;
    width: fit-content;
    height: 50px;
    
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 3px;
    
    text-align: center;
    vertical-align: middle;
    
    font-size: 17;
    text-decoration: none;

    line-height: 50px;
    
    margin-right: 0px;
    margin-left: 0px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nice-font {
    font-family: "Roboto", "sans-serif";
    font-size: larger;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 120px;
    width: max-content;

    background-color: rgba(0, 0, 0, 0.914);
    color: whitesmoke;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 119%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .long {
    min-width: 160px;
    max-width: 160px;
    width: max-content;
    margin-left: -80px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: medium;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.fullWidth {
    width: 100%;
    display: flex;
}

.flexFiller {
    display: flex;
    flex-grow: 1;
}

.hidden {
    display: none !important;
}

.centerInFlex {
    display: flex;
    justify-content: center;
}

.bottomInFlex {
    bottom: 0%;
    position: absolute;
}

hr {
    color: rgba(0, 0, 0, 0.13);
    border-color: inherit;
    background-color: inherit;
    border-style: solid;
}