.resumeButton {
    display: inline-flex;
    width: fit-content;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    text-align: center;
    height: 50px;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: middle;
    line-height: 50px;
    align-self: center;
}