#contactContent {
    box-sizing: border-box;
    text-align: center;
}

#contactContent a {
    text-decoration: none;
    font-size: large;
}

.cardContent {
    display: flex;
    height: max-content;
    flex-grow: 1;
    margin: 10px;
    flex-flow: column;
}