html,
body {
    background: rgb(15, 0, 25);
    font-family: "Roboto", "sans-serif";
    overflow-x: hidden;
}

.invisible {
    visibility: hidden;
}

.title-gradient {
    background: rgb(254,194,96);
    background: radial-gradient(circle, rgba(254,194,96,1) 0%, rgba(143,97,95,1) 41%, rgba(59,24,95,1) 100%);
}

.section-gradient {
    background: rgb(161,37,104);
    background: radial-gradient(circle, rgba(161,37,104,1) 0%, rgba(175,61,103,1) 12%, rgba(211,122,100,1) 36%, rgba(254,194,96,1) 100%);
}

.buttonBackground {
    background: rgb(255, 211, 140);
    transition: 0.1s;
}

.buttonBackground:hover {
    background: rgb(212, 165, 83);
}

.nice-font {
    font-family: "Roboto", "sans-serif";
    font-size: larger;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: max-content;
    width: max-content;

    background-color: rgba(0, 0, 0, 0.914);
    color: whitesmoke;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 119%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: medium;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.fullWidth {
    width: 100%;
    display: flex;
}

.flexFiller {
    display: flex;
    flex-grow: 1;
}

.hidden {
    display: none !important;
}