#header {
    width: auto;
    text-align: center;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    padding: 5%;
}

#name {
    display: inline-flex;
    font-size: xx-large;
    font-weight: bolder;
}

.pronouns {
    display: inline-flex;
    font-size: x-small;
    color: rgba(0,0,0,0.68);
    background-color: rgb(233, 233, 233);
    vertical-align: text-bottom;
}

#word-descript {
    font-size: large;
}

.pageSpacer {
    display: block;
    width: 100%;
    min-height: 3%;
    height: 3%;
}