header {
    width: auto;
    text-align: center;
    margin: auto;
    border-width: 1px;
    border-style: solid;
    padding: 5%;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px #2A0944;
}

#name {
    display: inline-flex;
    font-size: xx-large;
    font-weight: bolder;
}

.pronouns {
    display: inline-flex;
    font-size: x-small;
    color: rgba(0,0,0,0.68);
    /* background-color: rgba(255, 255, 255, 0.1); */
    vertical-align: text-bottom;
    border-radius: 3px;
    color: rgb(39, 39, 39, 0.7)
}

#word-descript {
    font-size: large;
}

.pageSpacer {
    display: block;
    width: 100%;
    min-height: 3%;
    height: 3%;
}