@import "contactBody.css";

#pageMid {
    border-width: 1px;
    border-style: solid;
    display: flex;
    height: 700px;
    overflow: hidden;
    flex-flow: row;

}

#midSpacer {
    width: 15%;
    display: flex;
}

.cardInfo {
    height: fit-content;
}

#contactContent {
    border-width: 1px;
    border-style: solid;
    display: block;
    float: left;
    height: max-content;
    flex-grow: 1;
}

#contactDescriptCard {
    display: flex;
    flex-flow: column;
    border-width: 1px;
    border-style: solid;
    width: 30%;
    float: left;
    height: 100%;
}

#projectsCard {
    display: flex;
    border-width: 1px;
    border-style: solid;
    float: none;
    overflow: hidden;
    height: 100%;
    flex-flow: column;
    flex-grow: 1;
}

#projectDetailsWrapper {
    display: flex;
    flex-grow: 1;
}

#projectAnimation {
    width: 25%;
    float: left;
    display: flex;
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

#projectDescription {
    float: none;
    display: block;
    border-width: 1px;
    border-style: solid;
    position: relative;
    height: 100%;
    width: 75%;
}

#projectCycler {
    width: 100%;
    display: flex;
    position: absolute;
    /* bottom: 0px; */
    /* height: 30px; */
}

#prevProject,
#nextProject {
    display: inline-block;
    flex-grow: 1;
}

#projectPicksHeader {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#projectPicksHeader .cardInfo {
    width: 60%;
}

@media only screen and (max-width: 1000px) {
    #projectsCard,
    #contactDescriptCard {
        width: 100%;
        min-height: 300px;
    }

    #pageMid {
        height: max-content;
        flex-flow: column;
        min-height: 300px;
    }

    #midSpacer {
        min-height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #projectAnimation {
        display: none;
    }

    #projectDescription {
        width: 100%;
    }
}

.cardInfo {
    text-align: center;
}