#pageMid {
    border-width: 1px;
    border-style: solid;
    display: block;
    height: 50%;
    min-height: 300px;
    overflow: hidden
}

#contactContent {
    border-width: 1px;
    border-style: solid;
    display: block;
    float: left;
    height: 100%;
    width: 70%;
}

#midSpacer {
    display: block;
    float: none;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    display: block;
}

#contactDescriptCard {
    display: block;
    border-width: 1px;
    border-style: solid;
    width: 40%;
    float: left;
    height: 100%;
}

#projectsCard {
    display: block;
    border-width: 1px;
    border-style: solid;
    float: none;
    overflow: hidden;
    height: 100%;
}

#projectAnimation {
    width: 25%;
    float: left;
    display: block;
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

#projectDescription {
    float: none;
    overflow: hidden;
    display: block;
    border-width: 1px;
    border-style: solid;
    height: 100%;
}

@media only screen and (max-width: 768) {
    
}

.cardInfo {
    text-align: center;
}