@import "contactCard.css";
@import "projectCard.css";
@import "descriptCard.css";

#pageMid {
    display: flex;
    height: 700px;
}

#midContent {
    flex-flow: row;
    display: flex;
    width: 100%;
}

#tsparticles{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    z-index: 50;
}

#midSpacer {
    min-width: 5%;
    display: flex;
}

.card {
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 3px 3px rgba(111, 111, 111, 0.547);
    z-index: 100;
}

.cardHeader {
    display: flex;
    height: 60px;
    justify-content: center;
    flex-flow: row;
}

.cardInfo {
    height: fit-content;
    text-align: center;
    display: inline-table;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: x-large;
    font-weight: bold;

    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(200,200,200,0.13) 60%, rgba(255,255,255,0.0) 100%);

    padding-left: 15px;
    padding-right: 15px;
}

#midLeftColumn {
    display: flex;
    flex-flow: column;
    min-width: 30%;
    width: 30%;
    float: left;
    height: 100%;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    #projectsCard,
    #midLeftColumn {
        width: 100%;
        min-height: 300px;
    }

    #pageMid {
        height: max-content;
        flex-flow: column;
        min-height: 300px;
    }

    #midSpacer {
        min-height: 50px;
    }

    #midLeftFiller {
        display: none;
    }

    .flexFiller {
        min-height: 50px;
    }
}

@media only screen and (max-width: 600px) {
    #projectAnimation {
        display: none;
    }

    #projectText {
        width: 100%;
        margin-left: 0px;
    }
}

