#projectsCard {
    display: flex;
    float: none;
    overflow: hidden;
    height: 100%;
    flex-flow: column;
    flex-grow: 1;
}

#projectAnimation {
    width: 25%;
    float: left;
    display: flex;
    height: 100%;
    max-width: fit-content;
    margin-right: 10px;
}

#projectText {
    float: none;
    display: flex;
    position: relative;
    height: 100%;
    width: 75%;
    flex-flow: column;
    flex-grow: 1;
}

#projectCycler {
    width: 100%;
    display: flex;
    position: absolute;
    /* bottom: 0px; */
    /* height: 30px; */
}

#prevProject,
#nextProject {
    display: inline-block;
    flex-grow: 1;
    border-radius: 0;
    transition: 0.3s;
    font-size: larger;
    background-color: rgba(255,255,255,0.5);
    border-width: 1.5px;
    border-color: black;
}

#prevProject:hover,
#nextProject:hover {
    background-color: rgba(128, 128, 128, 0.4);
}

#projectsCardLabel {
    display: flex;
    width: 60%;
    justify-content: center;
}

#projectTitle {
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

#projectDescription {
    font-size: large;
}

#projectDetailsWrapper {
    display: flex;
    flex-grow: 1;
    margin: 10px;
}