---
# This is to active liquid
---

<head>
    <title>{{site.data.author.name}}</title>

    <link rel="stylesheet" href="css/loader.css"/>
    
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>

    <script src="js/projectCycle.js"></script>

    <script src="./js/tsparticles.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header class="title-gradient">
        <span class="pronouns invisible">{{site.data.author.pronouns}}</span> <span id="name">{{site.data.author.name}}</span> <span class="pronouns">{{site.data.author.pronouns}}</span>
        <p id="word-descript">Words should be here</p>
    </header>
    <div class="pageSpacer"></div>
    <div id="pageMid">
        <div id="tsparticles"></div>

        <div id="midSpacer"></div>

        <div id="midLeftColumn">
            <div id="midLeftFiller" class="flexFiller"></div>

            <div id="descriptCard" class="card">
                <div id="descriptHeader" class="section-gradient cardHeader">
                    <p class="cardInfo">Who am I</p>
                </div>
                <div id="descriptContent" class="cardContent">
                    {% include whoAmI.html %}
                </div>
            </div>

            <div class="flexFiller"></div>

            <div id="contactCard" class="card">
                <div id="contactHeader" class="section-gradient cardHeader">
                    <p class="cardInfo">Get in Touch</p>
                </div>

                <div id="contactContent" class="cardContent">
                    {% include contact.html %}
                </div>
            </div>

            <div class="flexFiller"></div>
        </div>

        <div id="midSpacer"></div>
        <div id="projectsCard" class="card">
            <div id="projectPicksHeader" class="section-gradient cardHeader">
                <button id="prevProject">
                    <div class="tooltip"><span>Previous</span>
                        <span class="tooltiptext">Please enable Javascript</span>
                    </div>
                </button>
                <div id="projectsCardLabel">
                    <p class="cardInfo">Project Picks</p>
                </div>
                <button id="nextProject">
                    <div class="tooltip"><span>Next</span>
                        <span class="tooltiptext">Please enable Javascript</span>
                    </div>
                </button>
            </div>
            <div id="projectDetailsWrapper">
                <div id="projectAnimation">
                    {% include projects/{{site.data.projects.entries.first.subfolder}}/animation.html %}
                </div>
                <div id="projectText">
                    <div id="projectTitle">
                        {{site.data.projects.entries.first.title }}
                    </div>
                    <hr>
                    <div id="projectDescription">
                        {% include projects/{{site.data.projects.entries.first.subfolder}}/description.html %}
                    </div>
                </div>
            </div>
        </div>
        
        <div id="midSpacer"></div>
    </div>
    <div class="pageSpacer"></div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    let prevSize = window.screen.width;
    const SWAP_SIZE = 1025
    
    const LIGHT_PATH = "./js/particles-light.json";
    const DEFAULT_PATH = "./js/particles.json";

    tsParticles.loadJSON('tsparticles', window.screen.width < SWAP_SIZE ? LIGHT_PATH : DEFAULT_PATH, function() {
        console.log('callback - tsparticles.js config loaded');
    });

    document.getElementById("tsparticles").style.height = document.getElementById("pageMid").offsetHeight

    window.addEventListener("resize", () => {
        document.getElementById("tsparticles").style.height = document.getElementById("pageMid").offsetHeight

        if ((prevSize < SWAP_SIZE && window.screen.width >= SWAP_SIZE) || (prevSize >= SWAP_SIZE && window.screen.width < SWAP_SIZE)) {
            tsParticles.loadJSON('tsparticles', window.screen.width < SWAP_SIZE ? LIGHT_PATH : DEFAULT_PATH, function() {
                console.log('callback - tsparticles config loaded');
            });

            console.log(`Swapping to ${window.screen.width < SWAP_SIZE ? "lightweight particles" : "heavyweight particles"}`)
        }

        prevSize = window.screen.width;
    })
</script>