---
---
<head>
    <title>{{site.data.author.name}}</title>

    <link rel="stylesheet" href="css/loader.css"/>
    
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>

    <script src="js/projectCycle.js"></script>
</head>
<body>
    <div id="header">
        <span id="name">{{site.data.author.name}}</span> <span class="pronouns">{{site.data.author.pronouns}}</span>
        <p id="word-descript">Fill. in. the. blank.</p>
    </div>
    <div class="pageSpacer"></div>
    <div id="pageMid">
        <div id="contactDescriptCard">
            <h2 class="cardInfo">Who am I</h2>
            <div id="contactContent">
                {% include contact.html %}
            </div>
        </div>
        <div id="midSpacer"></div>
        <div id="projectsCard">
            <div id="projectPicksHeader">
                <button id="prevProject">Previous</button>
                <h2 class="cardInfo">Project Picks</h2>
                <button id="nextProject">Next</button>
            </div>
            <div id="projectDetailsWrapper">
                <div id="projectAnimation">
                    {% include projects/{{site.data.projects.speed.subfolder}}/animation.html %}
                </div>
                <div id="projectText">
                    <div id="projectTitle">
                        {{site.data.projects.speed.title}}
                    </div>
                    <hr>
                    <div id="projectDescription">
                        {% include projects/{{site.data.projects.speed.subfolder}}/description.html %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="pageSpacer"></div>
    <div id="footer">
        {% include footer.html %}
    </div>
</body>